extends layout.pug 

block content 
    h1 Welcome, #{username}
    section
        p Super secret user information.
        if error 
            p.error= error
        if message 
            p.message= message
        form(action="/user/secret", method="post") 
            div.flex-column
                label Your Name
                input(type="text", name="name", value=name, required)
                label Your Age
                input(type="number", name="age", value=age, required)
                label Your Favourite Colour
                select(name="color", value=color, required)
                    if !color
                        option(selected disabled) Please choose a color
                    option(value="red" selected=color === "red") Red 
                    option(value="blue" selected=color === "blue") Blue 
                    option(value="green" selected=color === "green") Green
                button(type="submit") Update Information
        p This information will be stored in plaintext, please don't use your real information

                

            